{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    IPC2 PROYECTO 3
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'paper-dashboard.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'paper-dashboard.min.css' %}">


</head>

<body class="">


  <div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
      <div class="logo">
        <a href="https://portal.ingenieria.usac.edu.gt/" class="simple-text logo-normal">
          IPC2 PROYECTO 3
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a href="{% url 'carga' %}">
              <p>Cargar Archivo</p>
            </a>
          </li>
          <li class="active ">
            <a href="{% url 'peticiones' %}">
              <p>Peticiones</p>
            </a>
          </li>
          <li>
            <a href="{% url 'ayuda' %}">
              <p>Ayuda</p>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="main-panel">
      <div class="content">

            <!----------------------------FILA 1--------------------------->
            <div class="row">

              <div class="col-md-6">
                <div class="card text-center">
                  <div class="card-header ">
                    <h5 class="card-title">Consultar datos</h5>
                    <p> Aqui puedes consultar los datos almacenados en el último archivo de respuesta y se mostrarán los datos en un recuadro de texto de salida</p>
                  </div>
                  <div class="card-body ">

                    <img class="card-img-bottom" style="width: 15rem;"
                        src="{% static 'xml.jpg' %}" alt="Imagen">

                  </div>
                  <div class="card-footer ">
                    <form action="/visualizarXML/" method="GET">
                      <button type="submit" class="btn btn-primary">Consultar datos</button>
                    </form>
                    <hr>
                  </div>
                </div>
              </div>
    
              <div class="col-md-6">
                <div class="card text-center">
                  <div class="card-header ">
                    <h5 class="card-title">Resumen de clasificacion por fecha</h5>
                    <p class="card-category">Clasifica por fechas los mesajes y las empresas </p>
                  </div>
                  <div class="card-body ">

                    <img class="card-img-bottom" style="width: 15rem;"
                        src="{% static 'calendario 2.png' %}" alt="Imagen">

                  </div>
                  <div class="card-footer ">
                    <form action="/clasificar-por-fecha/" method="GET">
                      <button type="submit" class="btn btn-primary">Resume pro fecha</button>
                    </form>
                    <hr>
                  </div>
                </div>
              </div>
    
              </div>
              
    
            </div>
<!----------------------------FILA 2--------------------------->
       
<div class="row">

  <div class="col-md-6">
    <div class="card text-center">
      <div class="card-header ">
        <h5 class="card-title">Resumen por rango de fechas</h5>
        <p> Aqui podras clasificar por fechas y empresas los mensajes </p>
      </div>
      <div class="card-body ">

        <img class="card-img-bottom" style="width: 15rem;"
            src="{% static 'calendario.png' %}" alt="Imagen">

      </div>
      <div class="card-footer ">
        <form action="/rango-de-fechas/" method="GET">
          <button type="submit" class="btn btn-primary">Resume por rango de fechas</button>
        </form>
        <hr>
      </div>
    </div>
  </div>


  <div class="col-md-6">
    <div class="card text-center">
      <div class="card-header ">
        <h5 class="card-title">Prueba de mensaje </h5>
        <p class="card-category">Ingresa un xml con los mensajes y ve el XML procesado</p>
      </div>
      <div class="card-body ">

        <img class="card-img-bottom" style="width: 15rem;"
            src="{% static 'icono mensaje.jpg' %}" alt="Imagen">

      </div>
      <div class="card-footer ">
        <form action = "/prueba/" method="get">
          <button type="submit" class="btn btn-primary">Realizar Prueba</button>
        </form>
        <hr>
      </div>
    </div>
  </div>

  </div>
  

</div>
        
          

        </div>


      </div>
  
    </div>
  </div>

</body>

</html>
