
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    IPC2 PROYECTO 3
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>

<body class="">


    <div class="main-panel">
      <div class="content">

            <!----------------------------FILA 1--------------------------->


            <div class="row">
              <div class="col-sm-4">
                <div class="card text-center">
                  <div class="card-header ">
                    <h5 class="card-title">Archivo ingresado </h5>
                  </div>
                  <div class="card-body text-left">
                    <textarea label="textarea" name="textarea" style="font-size:10px;">{{entrada}}</textarea>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
            <div class="col-sm-6">
              <div class="card text-center">
                <div class="card-header ">
                  <h5 class="card-title">Respuesta</h5>
                </div>
                <div class="card-body text-left">
                  <textarea label="textarea" name="textarea" style="font-size:12px;">{{salida}}</textarea>
                </div>
              </div>
            </div>
          </div>


     
    </div>
  </div>

</body>

</html>
